/*Estilos necessario para todas as páginas */
body{
	background-image: url("../img/fundo.png");
}

.fundo{
		background-color: #FFFAF0;
		margin-top: 30px;
		height: 570px;
		border-radius: 10px;
}

button{
	width: 300px;
}

a:hover{
	text-decoration: none;
}

/*Estilos necessario para a página inicial */
.paginaInicial img{
	margin-top: 80px;
}

/*Estilos necessario para a página de dificuldade */
.conteudoDificuldade{
	margin-top: 60px;
}

.paginaDificuldade button{
	margin-top: 50px;
}

.paginaDificuldade h2{
	margin-left: 50px;
}

/*Estilos necessarios para página de jogo*/
.fundoTabuleiro{
	border: 10px solid red;
}

.vezComputador{
	margin-top: 80px;
<<<<<<< HEAD
=======
	margin-right: 15px;
}

.fundoComputador{
	padding-right: 110px;
	padding-left: 10px;
	background: #FFFAF0;
	border: 4px solid #FFFAF0;
	border-radius: 10px;
>>>>>>> master
}

.vezPessoa{
	margin-top: 80px;
<<<<<<< HEAD
	margin-left: 60px;
=======
	margin-left: 30px;
}

.linha div {
	background: white;
	float: left;
	width: 55px;
	height: 55px;
	border: 2px solid #000;
	border-radius: 60px;
	margin: 2px;
	cursor: pointer;
}

.jogadorJogou{
	background: #008B8B !important;
}

.iaJogou{
	background: #8B0000 !important;
}

.fundoPessoa{
	padding-right: 105px;
	padding-left: 10px;
	background: #FFFAF0;
	border: 4px solid #FFFAF0;
	border-radius: 10px;
}

.imagensBola{
	display: block;
	margin-left: 15px;
>>>>>>> master
}

.line-0{
	margin-top: 5px;
}

.tabuleiro{
	background: black;
	margin-left: 80px;
	margin-top: 40px;
	border: 4px solid #000;
	width: 510px;
	height: 490px;
	border-radius: 10px;

	float: left;
}


.paginaResultado{
		background-image: url("../img/fundo.png");
}
